/**
  Cabecera inicial
*/
.top-bar {
  width: 100%;
  background-color: var(--dl-color-theme-primary1);
  padding: 10px 0;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item a {
  text-decoration: none;
  color: var(--dl-color-theme-neutral-light);
  font-weight: bold;
}

.nav-item a:hover {
  color: var(--dl-color-theme-accent1);
}

/* Cabecera principal */
.navbar4-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}

.navbar4-image {
  width: 320px;
  height: 172px;
  align-self: center;
  object-fit: cover;
}

.navbar4-navbar-interactive {
  width: 1306px;
  height: 194px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.navbar4-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navbar4-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}

.navbar4-link1,
.navbar4-link2,
.navbar4-link3,
.navbar4-link4,
.navbar4-link5 {
  font-size: 24px;
  text-decoration: none;
}

/* Estilo para el hover en los enlaces principales del menú */
.navbar4-link1:hover,
.navbar4-link2:hover,
.navbar4-link3:hover,
.navbar4-link4:hover,
.navbar4-link5:hover {
  background-color: #e0e0e0; /* Cambia este color según tu preferencia */
  border-radius: 8px; /* Ajusta el borde redondeado si lo deseas */
}

.navbar4-usuario {
  position: relative;
  display: flex;
  align-items: center;
}

.usuario-icon img {
  width: 100px; /* Ajusta el tamaño del icono de usuario */
  height: 100px; /* Ajusta el tamaño del icono de usuario */
  border-radius: 50%;
  cursor: pointer;
}

.usuario-dropdown {
  display: none;
  position: absolute;
  top: 150px; /* Ajusta la posición vertical del desplegable */
  left: 50%; /* Centra horizontalmente el desplegable */
  transform: translateX(-50%); /* Ajusta la posición horizontal del desplegable */
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex; /* Cambia el display para que las opciones se dispongan en fila */
  flex-direction: row; /* Las opciones se disponen en fila */
  justify-content: center; /* Centra las opciones horizontalmente */
  align-items: center; /* Centra las opciones verticalmente */
}

.usuario-dropdown .dropdown-link {
  display: block;
  padding: 20px; /* Ajusta el padding de las opciones del desplegable */
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 24px; /* Ajusta el tamaño del texto de las opciones */
  z-index: 999;
}

.usuario-dropdown .dropdown-link:hover {
  background-color: #f1f1f1;
  border-radius: 8px; /* Añade un borde redondeado al hacer hover */
}

@media(max-width: 767px) {
  .navbar4-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar4-desktop-menu {
    display: none;
  }
  .navbar4-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width: 479px) {
  .navbar4-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}

.navbar4-link-wrapper {
  position: relative;
}

.navbar4-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%; /* Centra horizontalmente el submenu */
  transform: translateX(-50%); /* Ajusta la posición del submenu */
  background-color: var(--dl-color-theme-neutral-light);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 998;
  width: 600px;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.submenu-column {
  padding: 20px;
}

.submenu-column h4 {
  margin-bottom: 20px;
  font-size: 24px;
}

.submenu-column img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.submenu-column a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.submenu-column a:hover {
  text-decoration: underline;
}

/* Estilo para el hover en los enlaces dentro del submenu */
.navbar4-submenu a:hover {
  background-color: #f1f1f1; /* Cambia este color según tu preferencia */
  border-radius: 4px; /* Ajusta el borde redondeado si lo deseas */
}

.navbar4-link-wrapper:hover .navbar4-submenu {
  display: flex;
  width: auto;
}

/* Estilos para el contenedor del héroe */
.hero92-header30 {
  gap: var(--dl-space-space-twounits);
  height: 50vh; /* Ajusta la altura del héroe al 50% del viewport */
}

.hero92-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.hero92-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
}

.hero92-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo del contenido */
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}

.hero92-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.hero92-text,
.hero92-text1 {
  text-align: center;
}

@media(max-width: 991px) {
  .hero92-text,
  .hero92-text1 {
      text-align: center;
  }
}

/* Estilos para el formulario de inicio de sesión */
.iniciar-sesion-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Ajusta la altura automáticamente según el contenido */
}

.iniciar-sesion-formulario form {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  padding: 40px; /* Espacio interno alrededor del formulario */
  background-color: #f9f9f9; /* Fondo gris claro */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.iniciar-sesion-formulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.iniciar-sesion-formulario input,
.iniciar-sesion-formulario button {
  width: 100%;
  padding: 12px; /* Aumenta el espacio interno */
  margin-bottom: 20px;
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.iniciar-sesion-formulario button {
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave */
}

.iniciar-sesion-formulario button:hover {
  background-color: #0056b3; /* Color de fondo azul oscuro al pasar el cursor */
}

/* Estilos para el mensaje de error */
.error-message {
  color: #dc3545; /* Color rojo */
  margin-top: 10px;
}

/* Estilos para el mensaje de éxito */
.success-message {
  color: #28a745; /* Color verde */
  margin-top: 10px;
}
  
/**
  Footer
*/
.footer15-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer15-image1 {
  width: var(--dl-size-size-xxlarge);
  height: 100%;
}
.footer15-max-width {
  display: flex;
  flex-direction: column;
}
.footer15-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer15-row {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer15-credits1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer15-content3 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer15-image1 {
    height: 4rem;
  }
  .footer15-credits {
    flex-direction: column;
  }
  .footer15-row {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer15-content3 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer15-credits {
    flex-direction: column;
  }
  .footer15-row {
    padding: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .footer15-credits1 {
    width: auto;
    align-self: stretch;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer15-image1 {
    height: 3rem;
  }
  .footer15-row {
    align-items: center;
    justify-content: center;
  }
  .footer15-credits1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-hero2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-logos3 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-gallery4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features5 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features6 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features7 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-cta8 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-faq9 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-contact10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-footer11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}