.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.servicio {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.servicio h2 {
  margin-top: 0;
}

.servicio p {
  margin-bottom: 0;
}
