<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vigilant Insubstantial Marten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Noto Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./features22.css" rel="stylesheet" />
      <div class="features22-layout349 thq-section-padding">
        <div class="features22-max-width thq-section-max-width">
          <div class="features22-container">
            <h2 class="thq-heading-2"><span>Our Exclusive Features</span></h2>
            <span class="features22-text01 thq-body-small">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla.
              </span>
            </span>
          </div>
          <div class="features22-container1 thq-grid-4">
            <div class="features22-card thq-card">
              <img
                alt="Personalized Hair Coloring Image"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="features22-image thq-img-round"
              />
              <h2 class="thq-heading-2">
                <span>Personalized Hair Coloring</span>
              </h2>
              <span class="features22-text03 thq-body-small">
                <span>
                  Get a customized hair color that suits your style and
                  personality.
                </span>
              </span>
            </div>
            <div class="features22-card1 thq-card">
              <img
                alt="Professional Styling Services Image"
                src="https://images.unsplash.com/photo-1580618672591-eb180b1a973f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTQ1NDExNnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features22-image1 thq-img-round"
              />
              <h2 class="thq-heading-2">
                <span>Professional Styling Services</span>
              </h2>
              <span class="features22-text05 thq-body-small">
                <span>
                  Experience top-notch styling services from our skilled hair
                  professionals.
                </span>
              </span>
            </div>
            <div class="features22-card2 thq-card">
              <img
                alt="Online Booking Image"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="features22-image2 thq-img-round"
              />
              <h1 class="thq-heading-2"><span>Online Booking</span></h1>
              <span class="features22-text07 thq-body-small">
                <span>
                  Easily book your appointments online for convenience.
                </span>
              </span>
            </div>
            <div class="features22-card3 thq-card">
              <img
                alt="Secure Payment Options Image"
                src="https://images.unsplash.com/photo-1523264766116-1e09b3145b84?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTQ1NDExMnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features22-image3 thq-img-round"
              />
              <h1 class="thq-heading-2"><span>Secure Payment Options</span></h1>
              <span class="features22-text09 thq-body-small">
                <span>
                  We accept card payments and PayPal for a hassle-free
                  transaction.
                </span>
              </span>
            </div>
            <div class="features22-card4 thq-card">
              <img
                alt="Cozy Atmosphere Image"
                src="https://images.unsplash.com/photo-1588873281272-14886ba1f737?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTQ1NDExMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features22-image4 thq-img-round"
              />
              <h1 class="thq-heading-2"><span>Cozy Atmosphere</span></h1>
              <span class="features22-text11 thq-body-small">
                <span>
                  Relax in our cozy salon environment while we pamper you with
                  our services.
                </span>
              </span>
            </div>
            <div class="features22-card5 thq-card">
              <img
                alt="Exceptional Customer Service Image"
                src="https://images.unsplash.com/photo-1691750427256-f3f0dcf68ae0?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTQ1NDExMnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features22-image5 thq-img-round"
              />
              <h1 class="thq-heading-2">
                <span>Exceptional Customer Service</span>
              </h1>
              <span class="features22-text13 thq-body-small">
                <span>
                  Our team is dedicated to providing you with exceptional
                  customer service.
                </span>
              </span>
            </div>
            <div class="features22-card6 thq-card">
              <img
                alt="Active Social Media Presence Image"
                src="https://images.unsplash.com/photo-1589876518759-5b460cabcc4c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTQ1NDExMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features22-image6 thq-img-round"
              />
              <h1 class="thq-heading-2">
                <span>Active Social Media Presence</span>
              </h1>
              <span class="features22-text15 thq-body-small">
                <span>
                  Stay updated and connected with us through our active social
                  media channels.
                </span>
              </span>
            </div>
            <div class="features22-card7 thq-card">
              <img
                alt="Informative Client Communication Image"
                src="https://images.unsplash.com/photo-1522204523234-8729aa6e3d5f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTQ1NDExMnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features22-image7 thq-img-round"
              />
              <h1 class="thq-heading-2">
                <span>Informative Client Communication</span>
              </h1>
              <span class="features22-text17 thq-body-small">
                <span>
                  We keep our clients informed about the latest trends and
                  offers through regular communication.
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
