.footer15-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer15-image1 {
  width: var(--dl-size-size-xxlarge);
  height: 100%;
}
.footer15-max-width {
  display: flex;
  flex-direction: column;
}
.footer15-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer15-row {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer15-credits1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer15-content3 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer15-image1 {
    height: 4rem;
  }
  .footer15-credits {
    flex-direction: column;
  }
  .footer15-row {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer15-content3 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer15-credits {
    flex-direction: column;
  }
  .footer15-row {
    padding: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .footer15-credits1 {
    width: auto;
    align-self: stretch;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer15-image1 {
    height: 3rem;
  }
  .footer15-row {
    align-items: center;
    justify-content: center;
  }
  .footer15-credits1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
