.logos31-container {
  position: relative;
}
.logos31-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.logos31-text {
  text-align: center;
}
.logos31-logo1 {
  object-fit: contain;
}
.logos31-logo2 {
  object-fit: contain;
}
.logos31-logo3 {
  object-fit: contain;
}
.logos31-logo4 {
  object-fit: contain;
}
.logos31-logo5 {
  object-fit: contain;
}
.logos31-logo6 {
  object-fit: contain;
}
.logos31-logo7 {
  object-fit: contain;
}
.logos31-logo8 {
  object-fit: contain;
}
.logos31-logo9 {
  object-fit: contain;
}
.logos31-logo10 {
  object-fit: contain;
}
